.header-color{
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100px;
}
.home-grid{
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;

}
.profile{
  height: 225px;
  border-radius: 150px;
  padding-top: 5px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
}
.banner-text{
  margin: auto;
  background-color: black;
  opacity: .8;
  width: 75%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.banner-text h1{
  font-weight: bold;
  color: white;
  font-size:50px;
  text-align: center;
}
.banner-text hr{
  border-top: 5px dotted white;
  margin: auto;
  width: 50%;
}
.banner-text p{
  color: white;
  font-size: 25px;
  padding: 1em;
}
.social-links{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}
.social-links i{
color: white;
font-size: 5em;
padding: 8px;
}
/* resume page css*/
.resume-right-col{
  background:#27221F;
  color: white;
}
.resume-left-col{
background-repeat: no-repeat;
}
.resume-left-col p span{
  font-size: 20px;
  padding-top: 0em;
  margin-top: 0px;
  font-style: oblique;

}
.resume-left-col h4{
  text-decoration: underline;
}
.resume-image{
  height: 225px;
  width: 215px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;

}
.style-one {
  border: 0;
  height: 3px;
  width: 50%;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* this is project css*/
.project-grid{
  display: flex;
  width: auto;
  background-position: fixed;
}
/* contact page style*/
.contact{
  justify-content: center;
  margin-top: 10%;
}
.contact-content{
  background-color:#333;
}
.contact-content h4{
  padding-left: 20px;
  color: #fff;
}